<!DOCTYPE html>

<html>

  <head>
    <title> CREATE </title>
  </head>

  <body>
    <h1>
      Create a New Story
    </h1>

    <form action="/create-response-page" method="POST">
      <h4>Enter title and story contents</h4>
      <input placeholder="Story Title" type="text" name="story_name">
      <br>
      <textarea rows="4" cols="25" placeholder="A Long Time Ago in a Galaxy Far, Far Away..." name="new_story"></textarea>
      <br>
      <input type="submit" name="sub_new">
    </form>
    <br>
  </body>

</html>
