<!DOCTYPE html>

<html>

  <head>
    <title> EDIT </title>
  </head>

  <body>
    <h1>
      Add to an existing story
    </h1>

    {{stories}}

    <form action="/edit-response-page" method="POST">
      <h4>Enter title and story contents that you want to add on to.</h4>
      <input placeholder="Story Title" type="text" name="edit_name">
      <br>
      <textarea rows="4" cols="25" placeholder="A Long Time Ago in a Galaxy Far, Far Away..." name="adding_on"></textarea>
      <br>
      <input type="submit" name="sub_addition">
    </form>
    <br>
  </body>

</html>
